 @import "tailwindcss";
/* body {
  background-color:navy;
  color: greenyellow;
} */ */

/* 
 @tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color :aqua;
  color: white;
} */